SERVER_URL=https://api-vouch.onrender.com

PORT= 
JWT_SECRET=
ALLOWED_ORIGINS=
BASE_URL=https://vouch-test.vercel.app



#NEON_DB
DATABASE_URL=

#NOMBA LIVE
NOMBA_ACCOUNT_ID =
NOMBA_SUB_ACCOUNT_ID =
NOMBA_CLIENT_ID=
NOMBA_CLIENT_SECRET=
NOMBA_SECRET=

#RESEND
SENDER= 
RESEND_API_KEY = 

#REDIS
REDIS_URL= 


WEBHOOK_URL= https://api-vouch.onrender.com/webhook/nomba

