PORT= 
JWT_SECRET=
ALLOWED_ORIGINS=your_frontend_url_here,http://localhost:5173

#NGROK
NGROK_AUTH_TOKEN= 
#NEON_DB
DATABASE_URL=

#NOMBA LIVE
NOMBA_ACCOUNT_ID = 
SUB_ACCOUNT_ID =
CLIENT_ID=
PRIVATE_KEY=
NOMBA_SECRET=


